.khan__buy-link {
    text-decoration: none;
    color: #2f80ed;
    padding: 0;
    margin: 0;
    margin-left: 48px;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    transition: 0.3s;
    align-self: self-start;
  }

  .khan__buy-link:hover {
    opacity: 0.5;
  }